/* skip to main link */
div.skip a {
    position: absolute;
    font-family: 'Black Ops One';
    top: 40px;
    margin-left: 10px;
}

/* messes with timeline */
* {
	box-sizing: border-box;
	font-family: 'Black Ops One', sans-serif;
  }

/* ensure the page doesn't overflow viewport */
html, body {
	max-width: 100%;
	padding: 0;
	margin: 0;
}


/* NAV */
/* example for nav bar set up to be sticky https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_parallax&stacked=h */
/* menu icon https://www.w3schools.com/howto/howto_css_menu_icon.asp */
/* sidenav https://www.w3schools.com/howto/howto_js_sidenav.asp */

header {
	position: sticky;
	top: 0;
	z-index: 100;
	margin: 0;
	/* bottom border with opacity of .1 */
	border-bottom: 1px solid rgba(177, 172, 172, 0.1);
}

/* NAVBAR STYLING */
.navbar {
	display: flex;
	align-items: center;
	height: 5.5rem;
	justify-content: space-between;
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #222; /* fixed: added # to color code */
  }

  /* NAV CENTER STYLING */
  .nav_center {
	display: flex;
	gap: .5rem;
	height: 50px;
	width: 210px;
	background-color: #111;
	border-radius: 50px;
	padding: 0.5rem 1rem;
	align-items: center;
	justify-content: center;
	border: 2px solid #444;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	list-style: none;
  }

  .nav_center li a {
	color: white;
	text-decoration: none;
	height: 35px;
	font-size: 1rem;
	padding: 0.5rem 1.5rem;
	border-radius: 30px;
	transition: all 0.3s ease;
	display: inline-block;
  }

  .nav_center li a:hover {
	background-color: #222;
	transform: scale(1.05);
  }

  .nav_center li.active a {
	background-color: #333;
	border: 1px solid #666;
  }

  /* HAMBURGER MENU STYLING */
  .nav_toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
	gap: 6px;
	padding: 10px;
  }

  .bar {
	width: 25px;
	height: 3px;
	background-color: white;
  }

  /* NAV BUTTON STYLING */
  .nav_btn {
	display: flex;
	padding-left: 10%;
	gap: .9rem;
	justify-content: center;
  }

  /* email link is styled in html */
  .nav_btn button, .nav_btn li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	padding: 0.4rem 0.8rem;
	background-color: white;
	border: none;
	font-size: 25px;
	border-radius: 50%;
	transition: background-color 0.3s ease;
  }

/* override email button color */
.fa-envelope {
	color:black;
}

.nav_btn button:hover, .nav_btn li:hover {
	background-color: #514b4b;
	border-color: #666;
	/* transform: scale(1.05); */
	/* scale the nav links on hover https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale */
}

/* Navbar site title link */

.logo {
	color: white;
	flex-direction: row;
}

  .logo img {
	border-radius: 70px;
	width: 5vw;
	min-width: 40px;
	max-width: 50px;
	max-height: 80px;
	color: #333;
	margin: 0;
  }

/* intro card container */
.card {
    display: flex;
	flex-direction: row-reverse;
	flex-basis: auto;
    flex-wrap: wrap;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-evenly;
    background-color: rgb(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 30px;
	margin: 5vw 6vw 5vw 6vw;
	box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
    overflow-x: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.intro-title {
	order: 1;
	flex-shrink: 1;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
	align-content: center;
}

.intro-text {
	order: 2;
	flex-shrink: 0%;
	justify-items: stretch;
	align-self: center;
	align-items: center;
    flex: 0 0 50%;

}

.intro-text p {
	font-size: 1.2rem;
}

/* intro card image */
.card img {
	border-radius: 50%;
	border:#b2a1a1 2px solid;
	width: 25vw;
	max-height: fit-content;
	color: #333;
	margin: 10px;
	text-align: center;
	padding: 5px;
}

/* intro card text */
.card p:nth-child(1) {
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	color:#fff;
}

.card p:nth-child(2) {
	text-align: center;
	font-size: 1.5rem;
	color:#fff;
}

/* main header */
h1 {
	font-size: 3.2vw;
	color: white;
	margin: 0 0 .2rem 0;
	text-align: center;
}

/* section h2 headers */
h2 {
	font-size: 2.5vw;
	color: white;
	margin: 0 0 .2rem 0;
	text-align: center;
}

hr {
	border: 1px solid white;
	opacity: 50%;
}

.intro-section {
	margin: 0 4rem 0 4rem;
}

/* intro title h3 */
.intro-title h2 {
	padding-top: 0;
	font-size: 1rem;
	text-align: center;
}

/* h3 headers: incl.flip card back headers */
h3 {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0 0 0.5rem 0;
	color: white;
}


/* BODY */

body {
	background-color: black;
	margin: 0;
}

/* index / home page skills section */
.skills-scroll-wrapper {
	position: relative;
	overflow: hidden;
	margin: 3rem auto;
	width: 85vw;
	mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
	-webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.skills-scroll {
	display: flex;
	gap: 1rem;
	padding: .5rem;
	white-space: nowrap;
	animation: scroll-marquee 10s linear infinite; /*scroll effect with speed*/
}

.skill-item {
	flex: 0 0 auto;
	background-color: #111;
	color: white;
	padding: .7rem 1rem;
	border-radius: 10px;
	font-family: 'Black Ops One', sans-serif;
	font-weight: bold;
	font-size: 1.3rem;
	font-style: bold;
	border: 2px solid #444;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
}

.skill-item:hover {
	transform: scale(1.1);
	background-color: #222;
}

  /* Hide scrollbars */
.skills-scroll::-webkit-scrollbar {
	display: none;
}

.skills-scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* add keyframe to scroll */
/* https://www.bennadel.com/blog/4536-creating-a-marquee-effect-with-css-animations.htm */
  @keyframes scroll-marquee {
	0% {
	  transform: translateX(0); /*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateX*/
	}
	100% {
	  transform: translateX(-50%);
	}
  }


/* show and hide sections for fade in */
/* final.css */
section {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
	pointer-events: none; 
	/* can't interact with it */
  }
  
  section.visible {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
  }
  

/* section headers */
.project-section, .skills-section {
	padding: 2rem;
	text-align: center;
}

/* project section */
.project-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3.5rem;
	margin: 3rem 0 3rem 0;
}

.project-card {
	background-color: transparent;
	width: 35vw;
	height: 35vw;
	perspective: 1000px;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	background-color: rgba(31, 27, 27, 0.1)
}

/* flip the cards */
.project-card.flipped .card-inner {
	transform: rotateY(180deg);
}

.card-front, .card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 12px;
	overflow: hidden;
}

.card-front {
	background-color: #bbb;
	box-shadow: 5px 5px 5px rgba(177, 172, 172, 0.5);
}

.card-front img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-back {
	background-color: rgb(52, 48, 48);
	color: white;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

/* timeline section */
.timeline-section {
    /* padding: 2rem 1rem 0 1rem; */
    margin: 1rem auto;
    width: 70vw;
    color: white;
}

h2 {
	font-size: 2rem;
}

.timeline {
    position: relative;
    display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1vw auto;
    width: 100%;
}

/* vertical timeline bar */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 50%;
}

.timeline-item {
    padding: 1rem 2rem 0 2rem;
    position: relative;
    width: 50%;
    /* margin-bottom: 1rem; */
}

.timeline-item .content {
	flex-shrink: 0; /* prevent overflow! */
    background-color: #111;
    justify-content: center;
	align-content: center;
	min-height: 10vw;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #444;
    font-family: 'Black Ops One', sans-serif;
}

.timeline-item.left {
    left: 0;
	align-items: center;
}

.timeline-item.right {
    left: 50%;
}

.timeline-item h3 {
	text-align: left;
    color: #fff;
    margin: 0.5rem 0 .5rem 0;
    font-size: 2rem;
}

.timeline-item p:first-of-type {
	text-align: left;
	text-decoration: bold;
    font-size: 2rem;
    font-family: 'Black Ops One', sans-serif;
}

.timeline-item p {
	text-align: left;
    font-size: 1.8rem;
    font-family: 'Black Ops One', sans-serif;
}

/* publications section */
.pub-section {
	margin: 1rem 2.5rem 1.5rem 2.5rem;
	padding-top: 2rem;
	text-align: center;
}

.pub {
	margin: 1rem 4.5rem 1rem 4.5rem;
	padding: 1rem 4rem 1rem 4rem;
	color:white;
	font-family: 'Black Ops One', sans-serif;
}


/* footer */

/* Footer Styles */
.footer {
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #fff;
	text-align: center;
	font-family: 'Black Ops One', sans-serif;
	height: 15vw;
	align-items: center;
}

.footer-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: #222;
	padding: 1rem 2rem 0 2rem;
	margin-top: 1rem;
}

.footer-bottom {
	width: 100%;
	background-color: #111;
	opacity: .7;
	justify-content: center;
}

.footer-bottom p {
	display: flex;
	justify-content: center;
	align-content: center;
	color:#fff;
	font-size: 1rem;
	margin-bottom: .5rem;
}

.footer div {
	flex-wrap: wrap;
	flex-shrink: 1;
	text-align: center;
	align-content: center;
	padding-bottom: 1rem;
}

.footer h3 {
	font-weight: 300;
	font-weight: bold;
	letter-spacing: 1px;
}


/* media queries  */

@media screen and (max-width: 768px) {

	h2 {
		font-size: 1.5rem;
		color: white;
		margin: 0 0 .2rem 0;
		text-align: center;
	}

	/* MEDIA QUERIES FOR NAV BAR */
	.navbar, body {
		width: 100%;
		box-sizing: border-box;
		font-family: 'Black Ops One', sans-serif;
	  }

	.navbar {
		padding: .5rem 1.5rem .5rem 1.5rem;
		height: 5rem;
	}

	.nav_btn {
		width: fit-content;
		gap: 8px;
		padding-right: 10%;
	}

	.fa-envelope, .fa-linkedin, .fa-file, .fa-github {
		font-size: 20px;
		text-align: center;
	}
	.nav_btn button, .nav_btn li {
		padding-left: none;
		align-items: center;
		width: 2rem;
		height: 2rem;
		background-color: white;
		color: black;
	}

	.nav_toggle {
	  display: flex;
	}

	.nav_center {
		flex-direction: column;
		position: absolute;
		top: 60%;
		right: 0;
		width: 8rem;
		height: 7rem;
		max-width: 300px;
		min-width: 50px;
		margin-right: .5rem;
		background-color: #111;
		display: none;
		z-index: 99;
		border-left: 2px solid #444;
		border-radius: 30px;
		padding: 1rem;
	}

	.nav_open {
	  display: flex;
	  align-items: center;
	  justify-items: baseline;
	  gap: .5rem;
	}

	.nav_center ul, li {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	.nav_center li a {
		color: white;
		text-decoration: none;
		font-size: 1.1rem;
		border-radius: 30px;
		transition: all 0.3s ease;
		display: inline-block;
	}


	/* intro card */
	.card {
		flex-direction: column;
		padding: 3vw 3vw 3vw 3vw;
		flex-shrink: 1;
		text-align: center;
		margin: 20px 10px 20px 10px;
	}

	.intro-section {
		margin: 0 1rem 0 1rem;
	}

	.intro-text {
		flex-shrink: 1;
		padding: 0 5% 0 5%;
	}

	.card p:nth-child(1) {
		font-family: 'Black Ops One', sans-serif;
		font-size: 1.6rem;
		margin: .5rem;
		text-align: center;
		font-weight: bold;
		color:#fff;
	}

	.card p:nth-child(2) {
		text-align: center;
		font-size: 1.1rem;
		color: #fff;
	}

	/* project cards */
	.card-back {
		background-color: rgb(52, 48, 48);
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: .5rem .5rem .5rem .5rem;
		font-size: 1rem;
	}

	.project-btn-link, .card-back h2, .card-back a:link, .card-back a:active, .card-back a:visited {
		color: white;
		background-color: white;
	}

	.card-back p {
		margin: 0;
	}

	/* publication section */
	.pub {
		margin: 1rem .3rem .1rem .3rem;
		overflow: hidden;
		padding: 1rem;
		color:white;
		font-family: 'Black Ops One', sans-serif;
	}

	/* timeline */
	.timeline-section {
		margin: 0 auto;
	}

	.timeline-item {
		width: 100%;
		text-align: center;
	}

	.timeline-item.left {
		left: 0;
	}

	.timeline-item.right {
		left: 0;
	}

	.timeline-item h3 {
		text-align: center;
	}

	.timeline-item p:first-of-type {
		text-align: center;
		font-size: 1rem;

	}
	.timeline-item p {
		text-align: center;
		font-size: 1rem;
	}

	.timeline-item.right .content {
		margin-left: 0;
	}

	.timeline-item.left .content {
		margin-right: 0;
	}

	.timeline::after {
		display: none;
	}

	/* skills section */
	.skills-section {
		margin: 0 1rem 1rem 1rem;
		padding: 0 0 1rem 0;
	}

	/* reduce distance between skill scroll wrapper items */
	.skills-scroll-wrapper {
		margin: 1rem;
	}

	.skill-item {
		flex: 0 0 auto;
		background-color: #111;
		color: white;
		padding: .5rem 1rem;
		border-radius: 10px;
		font-family: 'Black Ops One', sans-serif;
		font-weight: bold;
		font-size: 1rem;
		font-style: bold;
		border: 2px solid #444;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
		transition: transform 1s ease;
	}

	.project-grid {
		width: 100%;
	}

	/* reduce padding for project cards for larger view */
	.project-section, .skills-section {
		padding: .5rem;
	}


}
